[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eve"]
	path = eve
	url = https://github.com/cran/eve
[submodule "fcros"]
	path = fcros
	url = https://github.com/cran/fcros
[submodule "madsim"]
	path = madsim
	url = https://github.com/cran/madsim
[submodule "psvd"]
	path = psvd
	url = https://github.com/cran/psvd
